/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  /*font-family: Helvetica,Arial,sans-serif;*/
  font-family: Helvetica,Arial,sans-serif;
  /*font-family: fantasy;*/
  /*font-family: Tahoma, Geneva, sans-serif;*/
}

ul {
  list-style: none;
}

header {
  position: relative;
  background-color: black;
  /*font-family: arial;
  font-style: normal;
  font-weight: 400;*/
  font: 20px white;
  vertical-align: baseline;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.name-errors {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  height: 0px;
}

.errors {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  height: 0px;
  z-index:+1;
}

.error {
  list-style: none;
  text-shadow: 1px 1px 1px red;
  display: block;
  z-index:+1;
}

.nav-bar-ul {
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
}




.flyout {
  position: relative;
  color: white;
  list-style-type: none;
  width: 100px;
}

body {
  background-color: black;
}

input {
  height: 50px;
  font-size: 20px;
}

div {

}

.create-user-input {
  width: 150px;
}

.login-input {
  width: 300px;
}

.white-link {
  color: white;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  vertical-align: baseline;
  background-color: white;
  height: 662px;
  width: 972px;
  margin-left: 55.6px;
  margin-right: 55.6px;
}

.login-form-box {
  padding-top: 75px;
  padding-bottom: 100px;

  width: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.login-form {
  /*display: flex;*/
  /*justify-content: center;
  flex-direction: row;*/
}

.header-name {
  margin-top: 7px;
}

.header-button {
  display: block;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 20px;
  width: 100px;
  height: 28px;
  margin-top: 7px;
  text-decoration: none;

}
.header-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.auth-form-button {
  background-color: black;
  width: 90px;
  height: 30px;
  line-height: 33px;
  margin: 0 auto;
  color: white;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 15px;
  text-decoration: none;
  display: block
}
.auth-form-button:hover {
  cursor: pointer;
}



.header-group {

}

.nav-bar-title {
  margin-top: 10px;
  padding-right: 10px;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    color: white;
    list-style-type: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px;
    padding-left: 0px;
}

/* Links inside the dropdown */
.dropdown-content > li > a {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 12px;
    /*height: 4px;*/

}

/* Change color of dropdown links on hover */
.dropdown-content > li > a:hover {
  background-color: gray;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}

.col_1 {
  height: 25px;
  padding-top: 3px;
  padding-bottom: 7px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.drop-items {
  font-weight: bold;
  width: 120px;
  text-decoration: none;
  color: black;
  display: block;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
}
.drop-items:hover {
  text-align: center;
  vertical-align: bottom;
  background-color: black;
  font-weight: bold;
  color: white;
}

.login-buttons {
  margin: 0px;
  width: 300px;
  padding: 0px;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
}

.guest-button {
  background-color: white;
  width: 90px;
  height: 30px;
  line-height: 33px;
  margin: 0 auto;
  color: white;
  border-radius: 3px;
  border: none;
  color: black;
  font-size: 15px;
  /*text-decoration: underline;*/
  display: block
}
.guest-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*.dropdown-right{
  position: relative;
  display: inline-block;
}

.drop-right {
  left:auto;
  right:-1px;
  top:auto;
}

.drop-right:hover {
  left: auto;
  right: -1px;
  top:auto;
}*/

.index-ul{
  padding: 0px;
  text-decoration: none;
  color: black;
  flex-wrap: wrap;
}

.index-link  > img{
  width: 500px;
}

.stories-subscription-ul{
  padding: 20px;
  width: 600px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
}

.topics-subscription-ul{
  padding: 20px;
  width: 300px;
  height: auto;
  text-decoration: none;
  color: black;
  border: 1px solid black;
}

.index-link {
  text-decoration: none;
  /*color: black;*/
  font-size: 24px;
  background-color: black;
  height: 0px;
  /*padding-left: 5px;*/
  /*padding-top: 5px;*/
  /*display: flex;
  justify-content: center;*/
}

.index-link:hover {
  text-decoration: underline;
  color: white;
}

.title {
  padding-left: 5px;
  margin: 0px;
}

.author {
  margin: 0px;
  font-size: 12px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.topic-title {
  font-weight: bold;
  text-decoration: underline;
}

.title-ul {
  padding: 0px;
  display: flex;
  justify-content: center;
  width:700px;;
}

.title-and-author {
  background-color: black;
  color: white;
  width: 500px;
}



.index-div {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.show-container {
  background-color: white;
  width: 100%;
}

.show-title {
  /*background-color: white;*/
  padding-top: 30px;
  margin:auto;
  width: 700px;
  /*display: flex;
  align-items: center;*/
}

.button-ul {
  display: flex;
  justify-content: space-between;
}

.show-ul {
  margin: auto;
}

.show-image {
  width: 700px;
}

.comment {
  padding-bottom: 10px;
}

.comment > p {
  margin: 5px;
}

.comment-author {
  font-weight: bold;
}

.img-preview {
  width: 200px;
}

.story-form {
  color: white;
  background-color: black;
}

.form-body {
  color: white;
}

.form-ul {
  /*background-color: white;*/
  padding-left: 0;
}

.comments {
  background-color: white;
}

.sub-title-and-author {
  background-color: black;
  color: white;
  width: inherit;
}

.subscription-link {
  text-decoration: none;
  /*color: black;*/
  font-size: 24px;
  background-color: black;
  height: 0px;;
}


.subscription-link:hover {
  text-decoration: underline;
  color: white;
}

.subscription-link  > img{
  width: 600px;
}

.topic-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  /*background-color: white;*/
  height: 0px;
  /*padding-left: 5px;*/
  /*padding-top: 5px;*/
  /*display: flex;
  justify-content: center;*/
}

.topic-link:hover {
  text-decoration: underline;
  /*color: white;*/
}
