/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  /*font-family: "Gotham Cond",Helvetica,Arial,sans-serif;*/
  font-family: fantasy;
}

ul {
  list-style: none;
}

header {
  position: relative;
  background-color: black;
  /*font-family: arial;
  font-style: normal;
  font-weight: 400;*/
  font: 20px white;
  vertical-align: baseline;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.name-errors {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  height: 0px;
}

.errors {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  height: 0px;
  z-index:+1;
}

.error {
  list-style: none;
  text-shadow: 1px 1px 1px red;
  display: block;
  z-index:+1;
}

.nav-bar-ul {
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}




.flyout {
  position: relative;
  color: white;
  list-style-type: none;
  width: 100px;
}

body {
  background-color: black;
}

input {
  height: 50px;
  font-size: 20px;
}

div {

}

.create-user-input {
  width: 150px;
}

.login-input {
  width: 300px;
}

.white-link {
  color: white;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  vertical-align: baseline;
  background-color: white;
  height: 662px;
  width: 972px;
  margin-left: 55.6px;
  margin-right: 55.6px;
}

.login-form-box {
  padding-top: 75px;
  padding-bottom: 100px;

  width: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.login-form {
  /*display: flex;*/
  /*justify-content: center;
  flex-direction: row;*/
}

.header-button {
  display: block;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 20px;
  width: 100px;

}
.header-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.auth-form-button {
  background-color: black;
  width: 90px;
  height: 30px;
  line-height: 33px;
  margin: 0 auto;
  color: white;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 15px;
  text-decoration: none;
  display: block
}
.auth-form-button:hover {
  cursor: pointer;
}



.header-group {

}

.nav-bar-title {
  padding-right: 10px;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    color: white;
    list-style-type: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px;
    padding-left: 0px;
}

/* Links inside the dropdown */
.dropdown-content > li > a {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 12px;
    /*height: 4px;*/

}

/* Change color of dropdown links on hover */
.dropdown-content > li > a:hover {
  background-color: gray;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}

.col_1 {
  height: 25px;
  padding-top: 3px;
  padding-bottom: 7px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.drop-items {
  font-weight: bold;
  width: 110px;
  text-decoration: none;
  color: black;
  display: block;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
}
.drop-items:hover {
  text-align: center;
  vertical-align: bottom;
  background-color: black;
  font-weight: bold;
  color: white;
}

.login-buttons {
  margin: 0px;
  width: 300px;
  padding: 0px;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
}

.guest-button {
  background-color: white;
  width: 90px;
  height: 30px;
  line-height: 33px;
  margin: 0 auto;
  color: white;
  border-radius: 3px;
  border: none;
  color: black;
  font-size: 15px;
  /*text-decoration: underline;*/
  display: block
}
.guest-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*.dropdown-right{
  position: relative;
  display: inline-block;
}

.drop-right {
  left:auto;
  right:-1px;
  top:auto;
}

.drop-right:hover {
  left: auto;
  right: -1px;
  top:auto;
}*/
