/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  /*font-family: "Gotham Cond",Helvetica,Arial,sans-serif;*/
  font-family: fantasy;
}

ul {
  list-style: none;
}

header {
  position: relative;
  background-color: black;
  /*font-family: arial;
  font-style: normal;
  font-weight: 400;*/
  font: 20px white;
  vertical-align: baseline;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.name-errors {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  height: 0px;
}

.errors {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  height: 0px;
  z-index:+1;
}

.error {
  list-style: none;
  text-shadow: 1px 1px 1px red;
  display: block;
  z-index:+1;
}

.nav-bar-ul {
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
}


.flyout {
  position: relative;
  color: white;
  list-style-type: none;
  width: 100px;
}

body {
  background-color: black;
}

input {
  height: 50px;
  font-size: 20px;
}

div {

}

.create-user-input {
  width: 150px;
}

.login-input {
  width: 300px;
}

.white-link {
  color: white;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  vertical-align: baseline;
  width: 900px;
}

.login-form-box {
  padding-top: 75px;
  padding-bottom: 100px;
  background-color: white;
  width: 900px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.header-button {
  display: block;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 20px;
  width: 100px;

}
.header-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.auth-form-button {
  background-color: black;
  width: 90px;
  height: 30px;
  line-height: 33px;
  margin: 0 auto;
  color: white;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 15px;
  text-decoration: none;
  display: block
}
.auth-form-button:hover {
  cursor: pointer;
}



.header-group {

}
