<!DOCTYPE html>
<html>
<head>
  <title>Futbolistic</title>

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="./faviconit/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="./faviconit/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="./faviconit/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="./faviconit/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="./faviconit/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./faviconit/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./faviconit/favicon-16.png">
  <link rel="apple-touch-icon" href="./faviconit/favicon-57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./faviconit/favicon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./faviconit/favicon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="./faviconit/favicon-144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="./faviconit/favicon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="./faviconit/favicon-120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="./faviconit/favicon-76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="./faviconit/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="./faviconit/favicon-180.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="./faviconit/favicon-144.png">
  <meta name="msapplication-config" content="./faviconit/browserconfig.xml">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
